:root {
    --bg-color: #F8EFEF;
    --white: #FFFFFF;
} 

body {
    background-color: #dcdde1;
}

#header {
    height: 260px;
}

.nav-item {
    border-radius: 3px;
    transition-duration: 350ms;
}

.nav-item:hover {
    background-color: #353b48;
}

#logo {
    height: 220px;
}

#main-image {
    width: 100%;
}

#container-main-image {
    padding: 0px;
}

#container-instalacao {
    background-color: var(--white);
}

#container-info {
    background-color: #FCF8F8;
}

.col-images {
    width: 100%;
    background-size: cover;
}

#h1-instalacao {
    margin-bottom: 20px;
    color: #070881;
}

#container-info-2 {
    background-color: #0962AD;
}

#img-info-2 {
    width: 100%;
}

#h1-info-2 {
    margin-top: 15px;
    font-weight: bold;
    color: var(--white);
}

#p1-info-2 {
    color: var(--white);
}

#container-info-3 {
    padding: 0px;
}

#container-costumer {
    margin-top: 30px;
}

#video-1 {
    width: 100%;
}

#costumer-img1 {
    width: 100%;
}

.my-link {
    margin: 15px;
    color: black;
    font-size: 12px;
    text-decoration: none;
}

footer {
    margin-top: 100px;
    background-color: #192a56;
}

#email {
    text-decoration: none;
}