:root {
    --bg-color: #F8EFEF;
    --white: #FFFFFF;
} 

body {
    background-color: #dcdde1;
}

#header {
    height: 260px;
}

nav {
    color: white;
    background-color: #0962AD;
}

.nav-item {
    border-radius: 3px;
    transition-duration: 350ms;
}

.nav-item:hover {
    background-color: #0583F2;
}

#logo {
    height: 220px;
}

#main-image {
    width: 100%;
}

#container-main-image {
    padding: 0px;
}

#container-instalacao {
    background-color: var(--white);
}

#container-info {
    background-color: #FCF8F8;
}

.col-images {
    width: 100%;
    background-size: cover;
}

#h1-instalacao {
    margin-bottom: 20px;
    color: #0962AD;
}

#container-info-2 {
    background-color: #0962AD;
}

#img-info-2 {
    width: 100%;
}

#h1-info-2 {
    margin-top: 15px;
    font-weight: bold;
    color: var(--white);
}

#p1-info-2 {
    color: var(--white);
}

#container-info-3 {
    padding: 0px;
}

#container-costumer {
    margin-top: 30px;
}

#video-1 {
    width: 100%;
}

#costumer-img1 {
    width: 100%;
}

.my-link {
    margin: 15px;
    color: black;
    font-size: 11px;
    text-decoration: none;
}

footer {
    margin-top: 100px;
    background-color: #0962AD;
}

#email {
    color: white;
    text-decoration: none;
}

#container-carousel {
    padding: 0px;
}

.img-slider {
    width: 600px;
    height: 600px;
}

/* WHATSAPP BUTTON */
.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}